body{
    background-color: black;
}
h3 {
    color: whitesmoke;
    font-family: 'Quantico', sans-serif;
}
#game-title {
    font-family: 'PT Sans', sans-serif;
}
#guess-box {
    border: 7px dotted whitesmoke;
    height: 350px;
}
#guesses-remain {
    margin-top: 160px;
}
#media-wins {
    margin-top: 20px;
}
#current-guess {
    margin-top: 20px;
}