.game-space{
    float: middle;
    width: 100%;
    max-width: 960px;
    padding: 120px;
    margin: 0 0 50px;
    background: black;

}
body{
    background-color: black;
    font-family: Georgia, Times, 'Times New Roman', serif;
    text-align: center;
}
p{
    color: white;
    font-size: 12px;
}
h1{
    color: white;
    font-size: 36px;
    text-align: center;
    padding: 20px;
}
h2{
    color: white;
    text-align: center;
    padding: 10px;
    font-size: 18px;
}
#img{
    max-width: 50%;
    max-height: 50%;
}
#Started{
    font-size: 24px;
    color:white;
}
.column {
    column-count: 2;
    border: 3px dotted yellow;
    padding: 40px;
    margin-left: 200px;
    margin-right: 200px;
    color: white;

}
h3{
    font-size: 65px;
    color: aqua;
    text-align: center;
}
p{
    font-size: 12px;
    color: crimson;
}
